output/
examples/stm/nucleo-f411re/etm-info/Debug/
examples/stm/nucleo-f411re/etm-info/Release/
examples/stm/nucleo-f411re/etm-info/.settings/
examples/stm/nucleo-f411re/etm-info/.settings/language.settings.xml
examples/stm/nucleo-f411re/.metadata/
examples/stm/nucleo-f411re/etm-info/.settings/language.settings.xml